
@font-face {
  font-family: 'Medula One';
  src: url('../fonts/MedulaOne-Regular.ttf');
}

@font-face {
  font-family: 'Great Vibes';
  src: url('../fonts/GreatVibes-Regular.ttf');
}


*,
*::before,
*::after {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  max-width: 100%;
}

section {
  padding: 3.9em 0;
}

a {
  text-decoration: none;
}


.section-home {
  max-width: 100%;
  background:url(../images/home-section-a.jpg);
  background-size: cover;
  background-position: 350px center;
  background-repeat: no-repeat;
  font-size: 1.2em;
}

.home-section-1-icon {
  max-height: 50px;
  width: auto;

}

.container {
  width: 100%;
  max-width: 1140px;
  padding:4em 1.2em;
  margin:0 auto;
}

h3.h3-home {
  font-family: 'Medula One', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left:0;
  z-index:1;
  background-image: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
}

.nav {
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-toggle {
  color: #fff;
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
  cursor: pointer;
  z-index: 10;
}

.fa-times {
  display:none;
}

.nav-list {
  list-style: none;
  position: fixed;
  top:0;
  left:0;
  width: 80%;
  height: 100vh;
  padding:4.4rem;
  background-color: #262526;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 5;
  transform: translateX(-100%);
  transition: transform .5s;
}

.nav::before {
  content:'';
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.8);
  z-index: 4;
  opacity:0;
  transform: scale(0);
  transition: opacity .5s;
}

.open .fa-times {
  display: block;
}

.open .fa-bars {
  display: none;
}

.open .nav-list {
  transform: translateX(0);
}

.open .nav::before {
  opacity: 1;
  transform: scale(1);
}

.nav-item {
  border-bottom: 2px solid rgba(255,255,255, .3);
}

.nav-link {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 2px;
  margin-right: -2px;
  transition: color .5s;
}

.nav-link:hover {
  color: #FFD923;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url("../images/pastry2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-headline {
  font-size: 8.5rem;
  color: #FFFFFF;
  font-family: "Great Vibes";
  line-height: .9;
  letter-spacing: 2px;

}

.first-letter {
  font-size: 1.3em;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2em;
}

.headline {
  color: #FFFFFF;
  font-family: "Great Vibes";
  font-size: 3.7em;
  text-align: center;

}

.line {
  width: 100%;
  max-width: 8.4em;
  height: .25em;
  background-color: #FFFFFF;
  position: relative;

}

.asterisk {
  font-size: 1.2rem;
  color: #B79E77;
  margin:0 .6em;
}


.headline-status {
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1.2em;
  text-align: center;
}

.btn {
  text-transform: uppercase;
  color: #FFFFFF;
  display: inline-block;
}

.cta-btn {
  font-size: 1.1em;
  background-color: #FFFFFF;
  padding: 0 1.2em;
  color: #515151;
  border-radius: .4em;
  transition: background-color .5s;
}

.cta-btn:hover,
.cta-btn:focus {
  color:#FFFFFF;
  background-color: #B79E77;
}

.tradition-quality {
  background: url("../images/pastry3.jpg")center no-repeat;
  background-size: cover;
}

.between {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-color {
  color: #B79E77;
}

.image-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}


.technology-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}


 .global-headline {
  padding-top: 3em;
  margin-bottom: 0;
}


.technology-description .headline {
  color: #B79E77
}

.technology-description p {
  text-align: center;
}

.more-info {
  display: flex;
  align-items: center;
}

.more-info > div {
  flex: 1;

}

.padding-right {
  padding-right: 3em;
}
